@{
    Layout = "../Shared/_Layout";
}

<div class="h-full flex flex-col justify-center items-center tracking-wide">
    <div class="text-gray-600 text-3xl font-semibold">Whoops, something went wrong!</div>
</div>