@{
    Layout = "../Shared/_Layout";
}

<div class="h-full flex flex-col justify-center items-center tracking-wide">
    <div class="text-gray-600 text-3xl font-semibold">ASP.NET + Parcel.js + Tailwind</div>
    <div class="text-gray-500 font-normal">Boilerplate project</div>
</div>